[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
requests-html = "*"
lxml-html-clean = "*"
pandas = "*"
boto3 = "*"
polars = "*"
matplotlib = "*"

[dev-packages]

[scripts]
"download_s3 =" = "aws s3 sync s3://taipeisportsarena s3_data"

[requires]
python_version = "3.9"
python_full_version = "3.9.17"
